div.technologies img{
    border: 0px;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

div.technologies {
    display: table;
    width: 80%;
    table-layout: fixed;
    margin-bottom: -30px;
    margin-top: 30px;
}

div.technologies span{
    display: table-cell;
    text-align: center;
}